@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

:root {
  --main-color: #2a2b2c;
  --light-gray-color: #5a5b5c;
  --blue-color: #4327f5;

  --header-height: 60px;
}

.container {
  width: 90%;
}
